<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <script src="${rc.contextPath}/js/libs/jquery.min.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=vcjLOfpYSLmcXXoaiqdlm7gKBNgWfL0t"></script>
</head>
<body>
	  
	  <div style="width:697px;height:550px;border:#ccc solid 1px;" id="dituContent"></div>
      <script src="${rc.contextPath}/js/sys/main.js"></script>
</body>
</html>