<!DOCTYPE html>
<html>
<head>
<title>菜单管理</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp">
	<div class="grid-btn">
		<div class="form-group col-sm-2">
			<input type="text" class="form-control" v-model="name" @keyup.enter="query" placeholder="菜单名称">
		</div>
		<button type="button" class="btn btn-info" @click="query"><span class="glyphicon glyphicon-search"></span>查询</button>
		#if($shiro.hasPermission("sys:menu:save"))
		<a class="btn btn-success btn-flat" href="menu_add.html"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增</a>
		#end
		#if($shiro.hasPermission("sys:menu:update"))
		<button type="button"  class="btn btn-warning" @click="update"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>修改</button>
		#end
		#if($shiro.hasPermission("sys:menu:delete"))
		<button type="button" class="btn btn-danger" @click="del"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>删除</button>
		#end
	</div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script src="${rc.contextPath}/js/sys/menu.js?_${date.systemTime}"></script>
</body>
</html>