<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
           http://www.springframework.org/schema/aop   
           http://www.springframework.org/schema/aop/spring-aop-4.0.xsd   
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context-4.0.xsd 
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task-4.0.xsd">

	<!-- 配置要扫描的包 ,有多个可以用';'号隔开,也可写多个context:component-scan-->
	<context:component-scan base-package="com.*" />
	<!--  
	<task:annotation-driven />
	-->
	
	<!-- 启动对@AspectJ注解的支持 -->
	<!--通知spring使用cglib而不是jdk的来生成代理方法 AOP可以拦截到Controller -->
	<!--  
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<bean id="logApiAspect" class="com.app.aop.LogApiAspect" />
	-->
	
	<bean id="springContextUtil" class="com.util.SpringContextUtil"/>

	<!-- 引入属性文件:方式二 -->
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="locations">
			<list>
				<value>classpath:mongodb.properties</value>
				<value>classpath:config.properties</value>
			</list>
		</property>
	</bean>
	
	<import resource="spring-mongodb.xml"/>
	<import resource="spring-kaptcha.xml"/>
	<import resource="spring-shiro.xml"/>
	<import resource="spring-druid.xml"/>
	<import resource="spring-jdbc.xml"/>
</beans>    
